@import "tailwindcss";
 
@import "flowbite/src/themes/default";
 
@plugin "flowbite/plugin";
 
@source "../views/**/*.blade.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@source "../../node_modules/flowbite";
@source "../../node_modules/flowbite/**/*.js";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
 
@custom-variant dark (&:where(.dark, .dark *));
 
.apexcharts-tooltip,
.apexcharts-xaxistooltip,
.apexcharts-tooltip-title,
.apexcharts-tooltip-text-y-label,
.apexcharts-tooltip-text-y-value,
.apexcharts-legend-text,
.apexcharts-datalabel-value,
.apexcharts-datalabel-label,
.apexcharts-gridline,
.apexcharts-xcrosshairs,
.apexcharts-ycrosshairs {
    background-color: inherit !important;
    color: inherit !important;
    border-color: inherit !important;
    box-shadow: inherit !important;
}
 
@theme {
    --font-sans: 'Plus Jakarta Sans', sans-serif;

    --color-brand: #bfa46f;
    --color-gold: #d6c08a;
    --color-navy: #071F35;
} 

img {
    max-width: 100%;
}
